@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #ee690b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-stack-sans-notch);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ee690b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-stack-sans-notch), sans-serif;
}
